* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* REGOLE DI UTILITY */

.d-flex{
    display: flex;
}

.dir-col{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.scroll{
    overflow: scroll;
}

/* FONT SIZE */

.small{
    font-size: 13px;
}

.special1{
    font-size: 15px;
}

.middle{
    font-size: 18px;
}

special2{
    font-size: 20px;
}

.big{
    font-size: 25px;
}

/* FINE FONT SIZE */

/* COLOR TEXT */
.grey{
    color: rgb(131, 133, 138);
}

.white{
    color: white;
}

.black{
    color: black;
}

/* FINE COLOR TEXT */



/* FINE REGOLE DI UTILITY */



/* REGOLE CSS */
main{
  background-color: rgb(20, 25, 34);
  height: calc(100vh - 100px);
}

footer {
    height: 100px;
    background-color: orange;
}

aside{
    width: 50px;
    background-color: red;
}

.content{
    width:calc(100% - 50px);
    background-color: purple;
}

.cta{
    height:80px;
    background-color: yellow;
    position:fixed ;
    top: 0;
    left: 50px;
    z-index: 99;
    width:100%;
}



