* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
}

/* REGOLE DI UTILITY */

.d-flex {
    display: flex;
}

.dir-col {
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.scroll {
    overflow-y: scroll;
}

/* FONT SIZE */

.small {
    font-size: 13px;
}

.special1 {
    font-size: 15px;
}

.middle {
    font-size: 18px;
}

.special2 {
    font-size: 20px;
}

.big {
    font-size: 25px;
}

.verybig {
    font-size: 30px;
}

.align {
    text-align: center;
}

.decoretion {
    text-decoration: none;
}

.list-style {
    list-style: none;
}

.hidden {
    overflow-y: hidden;
}

.direction {
    flex-direction: column;
}

.space{
    justify-content: space-between;
}

.d-block{
    display: block;
}

.justify{
    justify-content: center;
}

.align-items{
    align-items: center;
}

/* FINE FONT SIZE */

/* COLOR TEXT */
.grey {
    color: rgb(131, 133, 138);
}

.white {
    color: white;
}

.black {
    color: black;
}

.logo-white {
    filter: white;
}

/* FINE COLOR TEXT */



/* REGOLE DI MARGIN E PADDING */

.pad-top {
    padding-top: 30px;
}

.pad-bot {
    padding-bottom: 30px;
}

.general-pad {
    padding: 10px;
}

.general-pad-top {
    padding-top: 10px;
}

.general-pad-bot {
    padding-bottom: 10px;
}

.margin{
    margin-left: 20px;
}


/* REGOLE DI MARGIN E PADDING FINE */



/* FINE REGOLE DI UTILITY */



/* REGOLE CSS */
main {
    background-color: rgb(20, 25, 34);
    height: calc(100vh - 100px);
    width: calc(100vw -100px);
}

footer {
    height: 100px;
}

aside {
    width: 50px;
    background-color: red;
}

.list-style a:hover, .list-style a.active{
    color:white
}
.active-link {
    border-left: 4px solid greenyellow;
}


/* .playlist a:hover{
    color: white;
} */

.playlist li:hover a, .playlist li:hover i{
    cursor: pointer;
    color: white;
}

.all-playlist li:hover{
    cursor: pointer;
    color: white;
}

.container {
    height: calc(100vh -100px);
}

.spotify {
    height: 50px;
}

.icon {
    height: 30px;
    vertical-align: middle;
}

aside li {
    padding: 5px 10px;
}

aside a {
    text-decoration: none;
    color: grey;
}

.playlist-container {
    padding: 15px 5px;
    height: 300px;
}

.add-box {
    height: 40px;
    width: 40px;
    background-color: rgb(163, 163, 163);
    padding: 5px;
    text-align: center;
    vertical-align: middle;
}

#create {
    padding-left: 5px;

}

.sidebar-bottom .list-bottom a:hover{
    color: white;
}

.content {
    width: calc(100% - 50px);
    background-color: rgb(20, 25, 34);
}

.cta {
    height: 80px;
    background-color: rgb(8, 11, 18);
    position: fixed;
    top: 0;
    left: 50px;
    z-index: 99;
    width: calc(100% - 50px);
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.btn{
    padding: 10px;
    border:white 2px solid;
    background-color: rgb(8, 11, 18);
    border-radius: 30px;
    color: white;
    cursor: pointer;
    width: 250px;
}

.cta .btn:hover{
    scale: 1.1;

}

.nav-bar {
    margin-top: 100px;
}

.nav-bar .nav-active-link {
    background-color: greenyellow;
    width: 40px;
    height: 5px;
    border-radius: 10px;
    margin: 2px auto;
    padding-top: 5px;
}

.list-nav{
    list-style: none;
}

.list-nav li{
    margin: 0px 5px;
    height: 30px;
}

.nav-bar li:hover{
    cursor: pointer;
    color: white;

}

.border{
    border-bottom: 3px solid greenyellow;
}

.square {
    list-style: none;
    width: 50%;
}
.circle-main-container {
    list-style: none;
    width: auto;
    margin-right: 10px;
}

.square-container, .circle-container {
    position: relative;
    margin: 5px;
    height: 200px;
    width: 200px;
}

.square-container:hover, .circle-container:hover {
    cursor: pointer;
}

.square-container i.play, .circle-container i.play {
    font-size: 50px;
    color: white;
    position: absolute; 
    top: calc(50% - 25px);
    left: calc(50% - 25px);
    visibility:hidden;
}


.square-container:hover i.play, .circle-container:hover i.play{
    
    visibility: visible;
}

.square-container:hover img, .circle-container:hover img{
    filter: brightness(30%);
}

.square h2{
    margin-left: 20px;
}

.square-container img{
    height: 100%;
}

.circle-container img{
    display: block;
    height: 200px;
    border-radius: 50%;
}

.playlist {
    margin-bottom: 10px;
}

.sidebar-bottom li a {
    padding: 5px;
}

hr {
    width: 90%;
    margin-left: 10px;
    margin-bottom: 10px;
}

.user {
    height: 25px;
    background-color: rgb(128, 128, 128);
    border-radius: 30px;
    padding: 2px;
    vertical-align: middle;

}

.all-playlist li{
    color: rgb(118, 118, 118);

}

/* SIDEBAR */

.sidebar {
    min-height: 400px;
    background-color: rgb(0, 0, 0);
}

.sidebar-top {
    height: calc(100% - 100px);


}

.sidebar-bottom {
    height: 100px;
    
}

/* SIDEBAR FINE*/


/* FOOTER */
footer{
    background-color: rgb(40, 40, 40);
    
}



.img-container{
    width: 80px;
   
    padding: 0px 10px;
}

.img-container img{
    min-width: 100%;
}

.icon-footer i{
    margin: 5px 15px;
    width: 100%;
}

.icon-footer i:hover{
    color: white;
    cursor: pointer;
}

.img-container img{
    width: 100%;
}

.player-container{
    margin-right: 40px;
    width: 50%;
}

.media-icon i{
    margin: 10px 15px;
    font-size: 20px;
    color: grey;
    
}

.media-icon i:hover{
    color: white;
    cursor: pointer;
}

footer .users-container .media-icon i{
    font-size: 12px;
    color: lightgrey;
}

footer .users-container .media-icon i:hover{
    color: white;
    cursor: pointer;
}

.player-bar{
    width: 85%;
    height: 10px;
    background-color: black;
    border-radius:20px
}

.percent{
    width: 15%;
    height: 100%;
    background-color: lightgrey;
    border-radius: 20px;
    position: relative;
}

.circle{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left:85px ;

}

.circle:hover{
    background-color: limegreen ;
}

  .percent:hover{
    background-color:limegreen
}

.player-time, .player-total{
    margin: 0px 10px;
    color: lightgrey;
}

.users-container {
    margin-right: 10px;
}

.users-container i{
    margin: 0px 3px;
}

.mini-bar{
    width: 70px;
    height: 10px;
    background-color: black;
    border-radius:20px;
    position: relative;
}

.percent2{
    width: 30%;
    height: 100%;
    background-color: lightgrey;
    border-radius: 20px;
}

.circle2{
    height: 15px;
    width: 15px;
    border-radius: 50%;
    position: absolute;
    top: -2px;
    left: 15px;
}

.circle2:hover{
    background-color: limegreen ;
}

  .percent2:hover{
    background-color:limegreen
}

.container-text .grey:hover {
    text-decoration: underline;
    color:white;
    cursor: pointer;
}


















/* FOOTER FINE*/




/* Media QUERIES */

@media screen and (max-width:576px) {
    .sidebar-top .logo img {
        display: none;
    }


    .sidebar-top .logo i {
        display: block;
        color: white;
        font-size: 30px;
        padding: 10px;
    }


    .sidebar-top a {
        display: none;
    }

    .playlist-container {
        display: none;
    }

    .sidebar-bottom a {
        display: none;
    }

    .sidebar-bottom hr {
        display: none;
    }

    .sidebar-bottom i {
        padding: 3px;
        margin-top: 30px;
    }

    .users-container .mini-bar{
        display: none;
    }

    .footer-container .container-text{
        display: none;
    }

   
  
}


@media screen and (min-width:576px) {
    aside {
        width: 200px;
    }

    .content {
        width: calc(100% - 200px)
    }

    .cta {
        width: calc(100%-200px);
        left: 200px;
    }

    .square {
        width: 50%;
    }

    .sidebar-top .logo i {
        display: none;

    }

    main footer{
        width: 100%;
    }

    .cta .btn{
        margin-right: 160px;
    }

    .border li {
        width: 100%;
    }

   




}

@media screen and (min-width:768px) {

    .square {
        width: 25%;
    }

    .cta .btn{
        margin-right: 160px;
    }

}



@media screen and (min-width:992px) {

    .square {
        width: 25%;
    }

}


@media screen and (min-width:1200px) {

    .square {
        width: calc(100% / 6);
    }

    #recent-play .square-container{
        padding:0px 5px

    }

    .cta .btn{
        margin-right: 180px;
    }

}